* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'NewTegomin';
  src: url('../fonts/NewTegomin.ttf') format('truetype');

}
.container {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
  background-color: #f8b29b;
}

.header {
  text-decoration: none;
  font-family: 'NewTegomin';
  font-size: 35px;
  color: #594A47;
  margin-left: 5vw
  
} 

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}


.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #2e8b57;
  margin-right: 2.5vw;
}


.logout {
  text-decoration: none;
  color: #2e8b57;
  margin-right: 250px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 2.5vw;
  color: #2e8b57;
}

.sign-up {
  text-decoration: none;
  color: #2e8b57;
  padding-right: 250px;
}