body {
  background-color: #FFF5EE;
  }

.search-title {
  font-size: 3vh;
  text-align: center;
  color: #2e8b57;
}

.list {
  list-style: none;
}

.recipe-title {
  font-size: 2vh;
  color: #696969;
}