.nav {
  display: flex;
}


.lists-right {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-top: 1vh;
}


.edit-recipe {
  text-decoration: none;
  margin-right: 5vh;
  color: #333333;
}


.destroy-recipe {
  text-decoration: none;
  color: #333333;
  margin-right: 33vh;
}
.recipe-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
}

.recipe-box {
  background-color: #FFF5EE;
  width: 70vw;
  min-width: 1200px;
  padding: 3vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #2e8b57;
}

.recipe-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  object-fit: contain;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
